/***** General Styling *****/
/* Affects entire document */
html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0%; /* Ensures our site displays all the way to the edge of the browser screen */
    opacity: 1; /* This & transition affect the page loading fade in effect */
    transition: 3s opacity;
    letter-spacing: .2vw; /* vw is a relative measurement, 1vw is equal to 1% of the viewport width */
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    overflow-x: hidden; /* Prevent horizontal scroll bar from appearing when the quote is hovered over */ /* TODO Test since this is for the quote section */
    user-select: none; /* Prevents the user from highlighting text on the page */
}

body.fade-out
{
    opacity: .1; /* Sets the level of opacity at the start of loading the page */
}

h1
{
    text-transform: uppercase; /* Capitalize all h1 headings */
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
}

/* H1 element hover effect */
h1:hover 
{
    filter: grayscale(5%); /* Adds a light grey filter to the h1 heading when hovered over */
    transform: scale(1.1); /* When hovering over the h1 element increase the size by 1.1 */
    transition: transform 1s; /* This causes the transformation to last 1 second */
}

/* Styling for the Portfolio Title Text */
.white-text
{
    color: #fff; /* Portfolio Title text color */
    padding-top: 10vh; /* Adds padding equal to 10% of the viewport height to the top of the Portfolio Title Text */
}

/* Paragraph elements */
p
{
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 2.5vw;
    /* Relative padding equal to 1% of the viewport width */
    padding-left: 1vw;
    padding-right: 1vw;
}

/* Paragraph element hover effect */
p:hover 
{
    transition: transform 1s; /* This makes the transform effect last 1 second */
    transform: scale(1.01); /* Increase the paragragh size when hovered */
}

/* Center class - this applies to all centered text */
.center
{
    text-align: center;
}

.center:hover
{
    transition: transform 2s; /* Sets the duration of the transition to 2 seconds */
    transform: scale(1.0); /* Increase objects in the "center" class size by 1.1 when hovered */
}

/* Anchor elements */
a
{
    color: blue; /* Sets all links to blue */
    cursor: pointer; /* Links change the cursor to a pointer when hovered over/ clicked */
    text-decoration: underline; /* All links are underlined */
}

/* Image elements */
img
{
    filter: grayscale(75%); /* Remove 75% of the images color */
    border-radius: 8px; /* Slightly round the edges of all images */
    /* Ensure all images stay within the height/ width of their container */
    max-width: 100%;
    max-height: 100%;
    display: block; /* By specifying block display we can ensure the images are able to be centered */
    margin: auto auto auto auto; /* This centers all images */
}

/* Image element hover effects */
img:hover
{
    filter: grayscale(5%); /* Bring back most of the images color after hovering over it */
}

/* Styling footer element */
footer
{
    padding: 2%;
    background-color: #f2f2f2; /* Blending the footer with the same color as column 1 */
}
/***** End of General Styling *****/

/***** Navbar Styling *****/
.Navbar
{
    overflow: hidden; /* This ensures that any content that overflows beyond the boundary of the navbar is not displayed */
    background-color: black; /* Navbar color */
    position: fixed; /* Keep the navbar at the top of the screen */
    top: 0;
    width: 100%; /* Span the navbar across the width of the page */
    z-index: 1; /* This ensures other elements don't display over the nacbar */
    -webkit-animation: moveNav 5s; /* Safari 4.0 - 8.0 */
    animation: moveNav 5s; /* This makes the moveNav animation last for 5 seconds */
}

/* The animation effect for moving the navbar in from above the left of the screen when the page loads */
@keyframes moveNav
{
    from {left: -100vw} /* The navbar is set off screen to the left */
    to {left: 0vw;} /* This moves the navbar into place on screen */
}

/* Navbar links */
.Navbar a
{
    float: left; /* This specifies that the text floats on the left of the navbar */
    display: block; /* This ensures the other text will be displayed on the same line/ row instead of a new line */
    color: #fff; /* Font color for the text in the navbar */
    padding: .75vw 1vw; /* Adds padding around the text */
    text-decoration: none; /* Removes the underlines from the text in the navbar */
    font-family: Avant Garde, Arial, Helvetica;
    font-size: 1.5vw; /* Specifies the font size for the navbar text */
    text-align: center; /* Centers the text within its container */
    position: relative; /* This sets the text relative to its normal position, allowing the use of the animation below */
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}

/* The animation effect for moving the navbar links in from above the top of the screen when the page loads */
@keyframes moveNavText
{
    from {top: -100vw;} /* This sets the navbar text 100% above the viewport */
    to {top: 0vw;} /* This lowers the navbar text onto the navbar */
}

/* Navbar hover effects */
.Navbar a:hover 
{
    background-color: #f4f4f4; /* Defines background color that will display when you hover over a link */
    color: black; /* Font color change after being hovered over */
    font-weight: bold; /* This makes the text on the navbar bold when hovered over */
    cursor: pointer;
    transition: 0.5s ease-in; /* Creates a smooth transition for the hover trigger */
}

/* Navbar home button */
.Navbar a.active
{
    background-color: darkgrey;
}
/***** End of Navbar Styling *****/

/***** Video Styling *****/
/* Formatting for background video */
#Welcome_Video
{
    position:absolute; /* Fixes the video to the page */
    right: 0; /* This ensures there is no space between the edge of the video and the edge of the page */
    bottom: 0; /* This ensures there is no space between the edge of the video and the bottom of the page */
    min-width: 100%; /* Ensures the video is displayed across the full width of the page */
    z-index: -1; /* This puts the video behind the other elements on the page */

}

/* Screens that are 576px and smaller will not display the background video */
@media screen and (max-width: 576px)
{
    #Welcome_Video
    {
        display: none;
    }
}

/* Texts over the video */
.Video_Text
{
    background: rgba(0, 0, 0, 0.5); /* This provides a semi-transparent background for the text to sit over */
    color: white;
    width: 100%; /* Ensures the video-text fills the width of the video */
    height: 15vh; /* Ensures the video-text container fills the height of the viewport so that the slideshow is not partially displayed */
    position: relative; /* This sets the text relative to its normal positioning allowing us to use the animation below */
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s; /* moveVideoText animation set to 5.75s to match the moveNavText animation speed */
}

/* This animation effect causes the overlay video text to move up from the bottom of the page after loading the page */
@keyframes moveVideoText
{
    from {top: -100vw;} /*Sets the position of the video text to above the viewport */
    to {top: 0vw;} /* This moves the video text to the normal position in the viewport */
}
/***** End of Video Styling *****/

/***** Slideshow Styling *****/
#Slideshow_Background
{
    /* This was created with a slightly transparent white background rgba(255, 255, 255, 0.35) but I ended up making it blend with the same color as column 1 */
    background: #ffffff;
}

.mySlides
{
    display: none; /* This prevents the image from being displayed as we use JS to display them */
}

/* Slideshow section / container */
#Slideshow_Container
{
    width: 39.5vw; /* Relative sizing of the container for the slideshow is set to 39.5% of the viewport width */
    height: auto; /* The height of the container is automatically adjusted based on the content it is displaying */
    padding-top: 4%;
    position: relative; /* Sets the container relative to its normal positioning */
    margin: auto; /* This will horizontally center the container on the page */
}

/* Remove the underline from the Next/ Previous buttons on the slideshow */
#Slideshow_Container a
{
    text-decoration: none;
}

/* Images contained within the slideshow */
.Slideshow_Images
{
    vertical-align: middle; /* This centers the image vertically in the slideshow container */
    height: auto; /* The height of the images is automatically adjusted based on the content. 
    Ensure they are all the same size as they will all be displayed diffently size wise otherwise */
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75); /* Adds a shodow around the slideshow images */
    width: 100%; /* The width of the images is automatically adjusted based on the content */
}

/* Next/ Previous buttons */
.Next, .Previous
{
    cursor: pointer;
    position: absolute; /* This makes the next/ previous buttons positioned relative to the slideshow container */
    top: 50%; /* Moves the buttons up to the slideshow container*/
    width: auto; /* The width of the buttons is automatically adjusted based on the content */
    padding: 2vw; /* Adds padding equal to 2% of the viewport width */
    color: darkgrey;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0; /* Adds a slightly rounded border on the top/ bottom right corners */
    user-select: none; /* This property makes it so the user cannot highlight the text */
    transition: 0.6s ease; /* This specifies the details of the hover transition for these elements */
}

/* Positioning the next button on the right hand side */
.Next
{
    right: 0; /* This moves the next button to the right side of the slideshow container */
    border-radius: 3px 0 0 3px; /* This changes the border radius on the next button to the top & bottom left of the button */
}

/* Hover effect on slide show buttons */
.Next:hover, .Previous:hover
{
    background-color: rgba(0, 0, 0, 0.8); /* Makes the background of the arrows a transparent grey color */
    color: white; /* Makes the arrows white when hovered over */
}

/* Slideshow Text */
.text 
{
    color: white;
    padding: 1vw;
    position: absolute; /* This ensures the text is positioned within the image */
    bottom: 0; /* Sets the text to the bottom of the image */
    width: 100%; /* This element covers the full length of the image */
    text-align: center; /* The text is center aligned within the image */
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw; /* This gives slight spacing between the letters */
    font-size: 1.5vw; /* font size is relative to the viewport width */
    background-color: rgba(0, 0, 0, 0.75); /* Gives a slightly transparent black background */
    font-weight: bold;
    border-radius: 0px 0px 7px 7px; /* Gives the text background rounded corners on the bottom left & right corners */
}

/* Styling of the dots under the slideshow */
.dot 
{
    cursor: pointer;
    height: 1vw; /* Dots are sized relative to the viewport width */
    margin: .25vw; /* Adds additional spacing between the dots */
    background-color: white; /* Dot color */
    border-radius: 50%; /* Makes the dots circ;es by rounding each corner */
    display: inline-block; /* Allows the dots to sit next to each other rather than in a new line */
    transition: background-color 0.6s ease; /* When clicked on the dots transition to a different color when clicked or hovered over (the affect is defined below) */
    z-index: 1; /* Ensures the fots will be displayed above all other elements */
}

/* Hover effect for slideshow dots */
.active, .dot:hover 
{
    background-color: black; /* Sets the color of the dots when active/ hovered on */
}

/* Fading animation for slideshow */
.fade
{
    animation-name: fade; /* Fade animation is defined below */
    animation-duration: 1.5s; /* The animation lasts 1.5 seconds */
    -webkit-animation-name: fade; /* for Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade
{
    from {opacity: .4;} /* Image starts transparent */
    to {opacity: 1;} /* Image ends opaque */
}

@keyframes fade
{
    from {opacity: .4;} /* Image starts transparent */
    to {opacity: 1;} /* Image ends opaque */
}
/***** End Slideshow Styling *****/

/***** Table Styling - this section covers the styling of the columns/ rows within the table *****/
* /* The asterisk is a universal selector that applies this effect to all elements on the page */
{
    box-sizing: border-box; /* This creates a box with a border within which we will place most of out text */
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .projectInfo 
  {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: max-height 0.2s ease-out;
    text-align: left; /* The text is center aligned within the image */
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw; /* This gives slight spacing between the letters */
    font-size: 1.2vw; /* font size is relative to the viewport width */
  }

.Column_1
{
    float: left;
    width: 50%; /* This ensures the column takes up half of the page width */
    padding: 1.6%;
    padding-bottom: 2vh;
    height: 600px; /* This sets the height of the column to 400px - this may need to be adjusted depending on the text entered */
    background-color: #f2f2f2; /* Sets the background color of the left columns */
}

.Column_2
{
    float: left;
    width: 50%; /* This ensures the column takes up half of the page width */
    padding: 1.6%;
    height: 600px; /* This sets the height of the column to 400px - this may need to be adjusted depending on the text entered */
    background-color: #000; /* Sets the background color of the right columns */
}

.Column_2 img
{
    display: inline-block;
    margin-top: 10vh;
    margin-left: 5vw;
    max-width: 35%;
}

/* This inserts something after the content of selected elements (in this case the element with class "Row") */
.Row::after
{
    content: ""; /* By leaving this blank, we are allowing the footer to be displayed - removing it makes the footer overwrite a column */
    display: table; /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
    clear: both; /* This clears any other elements from floating on the left or the right of an element */
}
/***** End of Table Styling *****/

/***** Contact Form Styling *****/
/* Button used to open the contact form - fixed at teh bottom of the page */
.Pop_Up_Button
{
    position: fixed; /* Element is positioned relative to the viewport and stay in the same location no matter what */
    bottom: 1.75vw; /* Positions the button slightly up from the bottom of the viewport */
    right: 1.75vw; /* Positions the button slightly right from the side of the viewport */
    width: 25vw; /* Sets the width relative to the viewport width */
    background-color: white; /* Sets the background color of the button */
    color: black; /* Sets the color of the button text */
    border: solid black;
    cursor: pointer;
    -webkit-animation: movePopup 5s; /* For safari 4.0 - 8.0*/
    animation: movePopup 5s;
}

/* movePopup animation moves the button from off the right side of the screen to its fixed location on the viewport */
@keyframes movePopup
{
    from {right: -40vw;}
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup
{
    from {right: -40vw;}
    to {right: 1.75vw;}
}

/* Styling for the contact form */
.form-popup
{
    z-index: 8; /* This z-index ensures the contact form shows above all other elements on the page  */
    display: none; /* Setting to none as we are using JavaScript to show the contact form  */
    position: fixed; /* This keeps the form in the same location */
    bottom: .5vw; /* Slightly up from the bottom of the viewport */
    right: .5vw; /* Slightly up from the right of the viewport */
}

/* Form styling */
.form-container
{
    max-width: 49vw; /* Relative sizing to 49% of the viewport width */ 
    padding: 1vw; /* Adds padding between the form-popup and the form-container */
    background-color: white;
}

/* Input fields */
.form-container input[type=text]
{
    width: 100%;
    padding: .93vw; /* Adds padding to the input boxes */
    margin: .6vw 0 .6vw 0; /* Adds space between the input boxes and the labels */
    border: none; /* Removes the border from the input boxes */
    background: gainsboro; /* Sets the background color of the input boxes */
    font-size: 1vw; /* Relative font sizing based on the width of the viewport */
}

/* General styling for all buttons */
button
{
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw; /* Adds padding to the text in the button */
    cursor: pointer;
    width: 100%; /* Sets the width of the buttons to 100% of their containers */
    height: auto; /* Allows the height to be resized depending on the content showing */
}

/* Hover effect for contact and submit buttons */
button:hover, .form-container .btn:hover
{
    color: white; /* This makes the text in the buttons white when hovered over */
    background-color: black; /* The background of the button changes to black when hovered over */
    transition-duration: 1s;
    -webkit-transition-duration: 1s; /* For Safari 4.0-8.0 */
    border-color: silver; /* The border turns silver when the button is hovered over */
}

/* Submit button */
.form-container .btn
{
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh; /* Adds space between the submit button and the close button */
}

/* Close button */
.form-container .cancel
{
    background-color: black;
    color: white;
    border-color: gray;
}

/* Styling for close button on hover */
.form-container .cancel:hover
{
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}
/***** End of Contact Form Styling *****/

/***** Media Query Section *****/
/* Media rules for paragraph font size for different screen sizes */
@media screen and (max-width: 527px)
{
    p { font-size: 3.75vw; }
}

@media screen and (min-width: 528px) and (max-width: 660px)
{
    p { font-size: 3.5vw;}
}

@media screen and (min-width: 661px) and (max-width: 799px)
{
    p { font-size: 2.75vw;}
}

@media screen and (min-width: 800px) and (max-width: 924px)
{
    p { font-size: 2.5vw;}
}

@media screen and (min-width: 925px) and (max-width: 1050px)
{
    p { font-size: 2.25vw;}
}

@media screen and (min-width: 1051px) and (max-width: 1310px)
{
    p { font-size: 2vw;}
}

@media screen and (min-width: 1311px) and (max-width: 1535px)
{
    p { font-size: 1.75vw;}
}

@media screen and (min-width: 1536px) and (max-width: 2269px)
{
    p { font-size: 1.5vw;}
}

@media screen and (min-width: 2270px)
{
    p { font-size: 1.35vw;}
}

/* Media rule for navbar links for different screen sizes 
    Screens 1080px and smaller will display navbar links equally distributed */
@media screen and (max-width: 1080px) 
{
    .Navbar a
    {
        /* This sets each navbar link to 1/5 of the navbar */
        width: 20%; 
        font-size: 2.5vw;
    }
}
    
/* Media rules to enlarge the font of the white text for smaller screens */
@media screen and (max-width: 1080px) 
{
    .quote{ font-size: 3.5vw; }
    .white-text { font-size: 4.5vw; }
}

/* Media rules to increase the size of the columns for larger screens */
@media screen and (min-width: 1725px)
{
    .Column_1 { height: 650px; }
    .Column_2 { height: 650px; }
}


/*Media rule to remove margin-top from h1 elements for extra large screens (so that the paragraph text fits in the column*/
@media screen and (min-width: 2000px) 
{
    h1 { margin-top: 0; }
}
/***** End of Media Query Section *****/